{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Author: {{ comment.author }}<br/>
    Email: {{ comment.email }}<br/>
    State: {{ comment.state }}<br/>
    <p>
        {{ comment.text }}
    </p>
{% endblock %}

{% block action %}
    <pre size="16"> </pre>
    <button href="{{ url('review_comment',{id: comment.id}) }}">Accept</button>
    <button href="{{ url('review-comment'),{id: comment.id, reject: true} }}"></button>
{% endblock %}